{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Content</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, impedit vero nesciunt sed laborum possimus, excepturi ab reiciendis ducimus illo nisi voluptate optio molestiae, odio harum praesentium mollitia iusto. Esse?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/forest.jpeg" alt="Forest" class="img-thumbnail">
    </div>
</div>

{{> footer}}